// ! palette
$main: #fcd201;
$sub: #3359ad;
$base: #8795a8;

@mixin flex-set($direction, $content, $item) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $item;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

.Home {
  margin: 0;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
.Whm {
  display: flex;
  height: 70vh;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  flex-wrap: wrap;
}
.WhmPfc {
  @media only screen and (max-width: 550px) {
    @include width-height(97vh, 97vw);
  }
  width: 550px;
  height: 550px;
  border-radius: 300px;
}
.WhmUl {
  margin: 0;
  padding: 0;
  height: 30vh;
  font-size: 2rem;
  list-style: none;
  justify-content: space-evenly;
}
.WhmList {
  display: flex;
  justify-content: space-evenly;
  height: 30%;
}
.WhmLink {
  display: flex;
  padding: 2vw;
  text-decoration: none;
  align-items: center;
  text-align: center;
}
.WhmListP {
  @media only screen and (max-width: 784px) {
    display: none;
  }
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
}
