.PortfolioFrame {
    width: 0;
    height: 0;
    border-top:  100vw solid rgba($color: #FCD201, $alpha: 0.3);
    border-left:  100vh solid rgba($color: #FCD201, $alpha: 0.3);
    border-bottom: 100vw solid rgba($color: #3359AD, $alpha: 0.3);
    border-right:  100vh solid rgba($color: #3359ad, $alpha: 0.3);
}